#nav_bar{
position:absolute;

}

#nav_bar ul{
      list-style-type: none;
      margin-right: 100px;
      margin-left: 250px;
      padding-top:60px;
      overflow: hidden;

}

#nav_bar li{
      test-align:center;
      display: inline;
      margin-left: 30px;
}

#nav_bar a:link{
text-decoration: none;
}

#nav_bar a:hover{
color: #B0B0B0;
}

#nav_bar a{
color: black;

}


#logo{
width:75px;
height:75px;
float:left;
margin-left:20px;
margin-top: 10px;
}

#wrapper video{
  padding-top: 90px;
  height: 100%;
  width: 100%;

}

#footbar{
position:relative;
height: 400px;
background-color: #b4b9b9  ;
}

.followbar{
margin-left: 40px;
padding-top: 40px;
font-size: 20px;

}


#firstsection{
 color:white;
 margin-left: 40px;
 font-size:18px;
 font-style: Proxima;
 font-weight:100;
}
p.Discover, .Discover{
 margin-left: 40px;
 font-size:20px;
 font-style: Proxima;
 font-weight:200;
 margin-top: 20px;
}

#secondsection{
margin-left: 500px;
color: white;
font-size:18px;
font-style: Proxima;
font-weight:100;
}

p.Company{
margin-left: 500px;
margin-top: -210px;
font-size:20px;
font-style: Proxima;
font-weight:200;
}

p.Download_our_app{
margin-left: 800px;
margin-top: -280px;
font-size:20px;
font-style: Proxima;
font-weight:200;
}

#thirdsection{
margin-left: 800px;
font-size:18px;
font-style: Proxima;
font-weight:200;
color: white;
}

#Download_app_logo{
width:150px;
height:45px;
}
