* {
    box-sizing: border-box;
}

body{
overflow-x:hidden;　
overflow-y:auto
}

#BLACK_LOGO{
width: 20%;
height:4%;
margin-top: -5px;
float:left;
}

#nav{
list-style-type: none;
padding-top: 4%;
padding-left: 40%;
}

#nav li{
display: inline;
margin-left: 5%;
font-size: 18px;
}

#nav a:link{
text-decoration: none;
}

#nav a:hover{
color: #cccccc;
transition-duration: 0.5s;
}

#nav a{
color:black;
}

#Fewrapper{
display: block;
background-size:cover;
z-index: -1;
}


video{
position: absolute;
width: 100%;
min-height: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.material-icons{
margin-top:30%;
margin-left:27%;
}

#button1{
position:absolute;
margin-top:50%;
left:43%;
width:15%;
height:7%;
color: black;
background-color:transparent;
border: 1px solid black;
}

#button1:hover{
color: white;
background-color:transparent;
background-color: black;
transition-duration: 0.2s;
}

#singleline{
border-bottom: solid;
border-bottom-color:black;
width:12.1%;
border-bottom-width: thin;
padding-bottom:3%;
margin-top:19%;
margin-left: 44.5%;
text-align: center;
}

#firstsec{
margin-top: 3%;
}

#firstsec h1{
text-align: center;
}

#firstsec p{
margin-left:23%;
margin-right:20%;
text-align: center;
line-height: 300%;
}

#graybackground{
background-color:hsl(0, 0%, 98%);
width:auto;
height:900px;
margin-top:5%;
}

#graybackground h1{
font-family:'Squada One', cursive;
color: black;
margin-left:40%;
padding-top:3%;
}

#Aquaseca{
padding-top: 10px;
width:40%;
height:25%;
margin-left: 10%;
opacity:0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */
overflow: hidden;
display: inline-block;
}

#Aquaseca:hover{
opacity:1;
filter: alpha(opacity=100); /* For IE8 and earlier */
transition: 1.5s;
transform:scale(1.025);
}

#Atacama{
padding-top: 10px;
width:40%;
height:25%;
margin-left: 2%;
opacity:0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */
overflow: hidden;
display: inline-block;
}

#Atacama:hover{
opacity:1;
filter: alpha(opacity=100); /* For IE8 and earlier */
transition: 1.5s;
transform:scale(1.025);
}


#Joomag,#Squaregg{
width:40%;
height:25%;
margin-left: 10%;
margin-top: 1.5%;
opacity:0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */
overflow: hidden;
display: inline-block;
}

#Joomag:hover,#Squaregg:hover{
opacity:1;
filter: alpha(opacity=100); /* For IE8 and earlier */
transition: 1.5s;
transform:scale(1.025);
}


#Proxce,#Telesense{
width:40%;
height:25%;
margin-left: 2%;
margin-top: 1.5%;
opacity:0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */
overflow: hidden;
display: inline-block;
}

#Proxce:hover,#Telesense:hover{
opacity:1;
filter: alpha(opacity=100); /* For IE8 and earlier */
transition: 1.5s;
transform:scale(1.025);
}

#contactus_bar{
background-color: black;
height:350px;
max-width:auto;
}

#contactus_bar a{
text-decoration: none;
}

#contactus_bar p:nth-child(2){
position: relative;
color:white;
top:150px;
font-size: 18px;
text-align: center;
}

#contactus_bar h1{
position: relative;
color: white;
top:150px;
font-family: "ProximaNova";
text-align: center;
}

#contactus_bar a:hover{
text-decoration: none;
color:pink;
transition-duration: 0.5s;
}

#facebook{
margin-left: 12%;
margin-top: 7%;
}

iframe{
width:80%;
height:640px;
}

/* news*/
.newsbackground{
background-color:#e9eaed;
height:3000px;
width:100%;
margin-top: 3.2%;
position: relative;
}

.newsboard{
background-color: white;
margin-left: 17%;
margin-top: 3.3%;
width:70%;
height:1000px;
border-style: solid;
border-width: thin;
border-color: #E8E8E8;
position: absolute;
}

.newsboard > p{
margin-left: 4%;
margin-top: 6%;
}
.newsboard > h2{
font-weight: bolder;
text-align: center;
margin-top: 5%;
}
.newsboard > img{
width:100%;
margin-top: 3%;
}
.article{
color: green;
text-align: justify;
width: 90%;
line-height: 200%;
}
/* news*/

.newsboard1{
background-color: white;
margin-left: 17%;
margin-top: 88%;
width:70%;
height:1000px;
border-style: solid;
border-width: thin;
border-color: #E8E8E8;
position: absolute;
}

.newsboard1 > img{
width:100%;
margin-top: 3%;
}

.newsboard1 > p{
margin-left: 4%;
margin-top: 6%;
}
.newsboard1 > h2{
font-weight: bolder;
text-align: center;
margin-top: 5%;
}
